#navbar-top{
    border-top: solid 2px red;
    border-bottom: solid 2px red;
}

#logo-navbar{
    height: 3em;
    border-radius: 20px;
}

#logo-centrale{
    height: 3em;
    border-radius: 20px;
    width: 30%;
}

footer{
    border-top: solid 2px blue;
}