#greatConteiner {
  background-color: #282c34;
}

#navbar {
  display: flex;
  justify-content: space-around;
}

.menuIcon {
  cursor: 'pointer',
}

.first {
  height: 11em;
}

.second {
  height: 9em;
  margin: 1em;
}

.terzo {
  height: 10em;
}